.grid-item {
    padding: 20px;
    background-color: #FFF;
}
  
.grid-item-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 350px;
}

.grid-item-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-item-price {
    margin: 0;
}

.grid-item-icon {
    font-size: 1.5em;
    color: #cbb27d;
}

a,
a:hover {
    color: #000;
    outline: none;
}